<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      - GitLab Info -
    </h1>
    <p>
      This is an demonstration of using OAuth 2.0 with GitLab as the provider.
    </p>
    <hr />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>
        Welcome
      </h2>
      <p>This is your gitlab activities</p>
      <% groups.forEach(function(group) { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Group Info</h5>
          <p class="card-text">Name: <%- group.name %></p>
          <p class="card-text">description: <%- group.description %></p>
          <a href="<%= group.webUrl %>" class="card-text" target="_blank"><p><%- group.webUrl %></p></a>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Projects</h5>
              <% if (group.projects.length === 0 ) { %>
                <p class="card-text">NO projects found in group or subgroups</p>
              <% } else { %>

                <% group.projects.forEach(function(project) { %>
                <div class="project-card">
                  <div class="project-card-body">
                    <h5 class="card-title"><%- project.name %> </h5>
                    <img src="<%= project.projectAvatarURL %>" alt="avatar" height="80px" width="80px" />
                    <p class="card-text">description: <%- project.description %></p>
                    <a href="<%= project.webUrl %>" class="card-text" target="_blank"><p><%- project.fullPath %></p></a>
                    <p class="card-text">Last commit: <%- project.lastCommitOnDateString %></p>
                    <p class="card-text">Last commit Author: <%- project.lastCommitAuthor %></p>
                    <img src="<%= project.lastCommitAuthorAvatarURL %>" alt="avatar" height="80px" width="80px" />
                  </div>
                </div>
                <% }); %>
                <% if (group.hasMoreProjects) { %>
                  <p><b>there are more project but pagination is not implemented</b></p>
                <% } else { %>
                  <p><b>there are no more projects</b></p>
                <% } %>
              <% }; %>

            </div>
          </div>
        </div>

      </div>
      <% }); %>
      <% if (haveMoreGroups) { %>
        <p><b>there are more groups but pagination is not implemented</b></p>
      <% } else { %>
        <p><b>there are no more groups</b></p>
      <% } %>
    </div>
  </div>
</div>